/Code/Business/PosBusiness/bin
/Code/Business/PosBusiness/obj
/Code/DataAccess/obj
/Code/DataAccess/bin
/Code/PosUtilities/bin
/Code/PosUtilities/obj
/Code/T4/obj
/Code/T4/bin
/Code/Utilities/bin
/Code/Utilities/obj
/Code/UtilitiesForm/bin
/Code/UtilitiesForm/obj
/Code/WindowsFormsApplication1/bin
/Code/WindowsFormsApplication1/obj
/Code/WindowsFormsApplication1/Properties
/Activador/Activador/Activador/bin
